.spr-red{background:url(/assets/pyr-red.png) no-repeat;background-size:607.813% 506.250%}
.pyr-red-a{background-position:0.000% 0.000%}
.pyr-red-b{background-position:20.000% 0.000%}
.pyr-red-c{background-position:0.000% 25.000%}
.pyr-red-d{background-position:20.000% 25.000%}
.pyr-red-e{background-position:40.000% 0.000%}
.pyr-red-f{background-position:40.000% 25.000%}
.pyr-red-g{background-position:0.000% 50.000%}
.pyr-red-h{background-position:20.000% 50.000%}
.pyr-red-i{background-position:40.000% 50.000%}
.pyr-red-j{background-position:60.000% 0.000%}
.pyr-red-k{background-position:60.000% 25.000%}
.pyr-red-l{background-position:60.000% 50.000%}
.pyr-red-m{background-position:0.000% 75.000%}
.pyr-red-n{background-position:20.000% 75.000%}
.pyr-red-o{background-position:40.000% 75.000%}
.pyr-red-p{background-position:60.000% 75.000%}
.pyr-red-q{background-position:80.000% 0.000%}
.pyr-red-r{background-position:80.000% 25.000%}
.pyr-red-s{background-position:80.000% 50.000%}
.pyr-red-t{background-position:80.000% 75.000%}
.pyr-red-u{background-position:0.000% 100.000%}
.pyr-red-v{background-position:20.000% 100.000%}
.pyr-red-w{background-position:40.000% 100.000%}
.pyr-red-x{background-position:60.000% 100.000%}
.pyr-red-y{background-position:80.000% 100.000%}
.pyr-red-z{background-position:100.000% 0.000%}
.spr-blue{background:url(/assets/pyr-blue.png) no-repeat;background-size:607.813% 506.250%}
.pyr-blue-a{background-position:0.000% 0.000%}
.pyr-blue-b{background-position:20.000% 0.000%}
.pyr-blue-c{background-position:0.000% 25.000%}
.pyr-blue-d{background-position:20.000% 25.000%}
.pyr-blue-e{background-position:40.000% 0.000%}
.pyr-blue-f{background-position:40.000% 25.000%}
.pyr-blue-g{background-position:0.000% 50.000%}
.pyr-blue-h{background-position:20.000% 50.000%}
.pyr-blue-i{background-position:40.000% 50.000%}
.pyr-blue-j{background-position:60.000% 0.000%}
.pyr-blue-k{background-position:60.000% 25.000%}
.pyr-blue-l{background-position:60.000% 50.000%}
.pyr-blue-m{background-position:0.000% 75.000%}
.pyr-blue-n{background-position:20.000% 75.000%}
.pyr-blue-o{background-position:40.000% 75.000%}
.pyr-blue-p{background-position:60.000% 75.000%}
.pyr-blue-q{background-position:80.000% 0.000%}
.pyr-blue-r{background-position:80.000% 25.000%}
.pyr-blue-s{background-position:80.000% 50.000%}
.pyr-blue-t{background-position:80.000% 75.000%}
.pyr-blue-u{background-position:0.000% 100.000%}
.pyr-blue-v{background-position:20.000% 100.000%}
.pyr-blue-w{background-position:40.000% 100.000%}
.pyr-blue-x{background-position:60.000% 100.000%}
.pyr-blue-y{background-position:80.000% 100.000%}
.pyr-blue-z{background-position:100.000% 0.000%}
.spr-green{background:url(/assets/pyr-green.png) no-repeat;background-size:607.813% 506.250%}
.pyr-green-a{background-position:0.000% 0.000%}
.pyr-green-b{background-position:20.000% 0.000%}
.pyr-green-c{background-position:0.000% 25.000%}
.pyr-green-d{background-position:20.000% 25.000%}
.pyr-green-e{background-position:40.000% 0.000%}
.pyr-green-f{background-position:40.000% 25.000%}
.pyr-green-g{background-position:0.000% 50.000%}
.pyr-green-h{background-position:20.000% 50.000%}
.pyr-green-i{background-position:40.000% 50.000%}
.pyr-green-j{background-position:60.000% 0.000%}
.pyr-green-k{background-position:60.000% 25.000%}
.pyr-green-l{background-position:60.000% 50.000%}
.pyr-green-m{background-position:0.000% 75.000%}
.pyr-green-n{background-position:20.000% 75.000%}
.pyr-green-o{background-position:40.000% 75.000%}
.pyr-green-p{background-position:60.000% 75.000%}
.pyr-green-q{background-position:80.000% 0.000%}
.pyr-green-r{background-position:80.000% 25.000%}
.pyr-green-s{background-position:80.000% 50.000%}
.pyr-green-t{background-position:80.000% 75.000%}
.pyr-green-u{background-position:0.000% 100.000%}
.pyr-green-v{background-position:20.000% 100.000%}
.pyr-green-w{background-position:40.000% 100.000%}
.pyr-green-x{background-position:60.000% 100.000%}
.pyr-green-y{background-position:80.000% 100.000%}
.pyr-green-z{background-position:100.000% 0.000%}
.spr-yellow{background:url(/assets/pyr-yellow.png) no-repeat;background-size:607.813% 506.250%}
.pyr-yellow-a{background-position:0.000% 0.000%}
.pyr-yellow-b{background-position:20.000% 0.000%}
.pyr-yellow-c{background-position:0.000% 25.000%}
.pyr-yellow-d{background-position:20.000% 25.000%}
.pyr-yellow-e{background-position:40.000% 0.000%}
.pyr-yellow-f{background-position:40.000% 25.000%}
.pyr-yellow-g{background-position:0.000% 50.000%}
.pyr-yellow-h{background-position:20.000% 50.000%}
.pyr-yellow-i{background-position:40.000% 50.000%}
.pyr-yellow-j{background-position:60.000% 0.000%}
.pyr-yellow-k{background-position:60.000% 25.000%}
.pyr-yellow-l{background-position:60.000% 50.000%}
.pyr-yellow-m{background-position:0.000% 75.000%}
.pyr-yellow-n{background-position:20.000% 75.000%}
.pyr-yellow-o{background-position:40.000% 75.000%}
.pyr-yellow-p{background-position:60.000% 75.000%}
.pyr-yellow-q{background-position:80.000% 0.000%}
.pyr-yellow-r{background-position:80.000% 25.000%}
.pyr-yellow-s{background-position:80.000% 50.000%}
.pyr-yellow-t{background-position:80.000% 75.000%}
.pyr-yellow-u{background-position:0.000% 100.000%}
.pyr-yellow-v{background-position:20.000% 100.000%}
.pyr-yellow-w{background-position:40.000% 100.000%}
.pyr-yellow-x{background-position:60.000% 100.000%}
.pyr-yellow-y{background-position:80.000% 100.000%}
.pyr-yellow-z{background-position:100.000% 0.000%}
.spr-house{background:url(/assets/pyr-house.png) no-repeat;background-size:506.250% 404.688%}
.pyr-house-a{background-position:0.000% 0.000%}
.pyr-house-b{background-position:25.000% 0.000%}
.pyr-house-c{background-position:0.000% 33.333%}
.pyr-house-d{background-position:25.000% 33.333%}
.pyr-house-e{background-position:50.000% 0.000%}
.pyr-house-g{background-position:50.000% 33.333%}
.pyr-house-h{background-position:0.000% 66.667%}
.pyr-house-i{background-position:25.000% 66.667%}
.pyr-house-l{background-position:50.000% 66.667%}
.pyr-house-m{background-position:75.000% 0.000%}
.pyr-house-n{background-position:75.000% 33.333%}
.pyr-house-o{background-position:75.000% 66.667%}
.pyr-house-r{background-position:0.000% 100.000%}
.pyr-house-s{background-position:25.000% 100.000%}
.pyr-house-t{background-position:50.000% 100.000%}
.pyr-house-u{background-position:75.000% 100.000%}
.pyr-house-w{background-position:100.000% 0.000%}
